<div class="row">
<div class="col-lg-6">
  <h1 class="meetup">Leetcode practice sessions  (Mastery)</h1>
  <table class="table-bordered table table-hover table-dark table-marg">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Status</th>
        <th>Date</th>
        <th>Local Time</th>
        <th>Venue</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% @ml.each do |event| %>
        <tr>
          <td>
            <%= event["name"] %>
          </td>
          <td>
            <%= event["status"] %>
          </td>
          <td>
            <%= event["local_date"] %>
          </td>
          <td>
            <%= event["local_time"] %>
          </td>
          <td>
            <%= event["venue"] %>
          </td>
          <td>
            <%= event["description"] %>
          </td>
          <td>
            <%= link_to event["link"] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
</div>
</div>

